.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.932617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.996094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.996094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-5.760000px;}
.ls4{letter-spacing:-3.000000px;}
.ls2{letter-spacing:-0.480000px;}
.ls0{letter-spacing:0.000000px;}
.ls5{letter-spacing:10.320000px;}
.ls1{letter-spacing:16.080000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-5.760000px;}
._2{margin-left:-2.990880px;}
._1{margin-left:-1.375680px;}
._3{width:1.899840px;}
._6{width:7.096640px;}
._0{width:15.053280px;}
._5{width:828.457280px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:32.160000px;}
.fs4{font-size:39.840000px;}
.fs0{font-size:42.240000px;}
.fs5{font-size:48.000000px;}
.fs3{font-size:56.160000px;}
.fs1{font-size:87.840000px;}
.yd{bottom:5.400000px;}
.y5{bottom:6.000000px;}
.y20{bottom:6.020000px;}
.y18{bottom:6.480000px;}
.y11{bottom:6.600000px;}
.y2c{bottom:6.710000px;}
.y24{bottom:6.720000px;}
.y2f{bottom:6.830000px;}
.y22{bottom:6.840000px;}
.y4b{bottom:6.870000px;}
.y1d{bottom:7.440000px;}
.y9{bottom:10.200000px;}
.y57{bottom:10.700000px;}
.y40{bottom:22.440000px;}
.y14{bottom:23.160000px;}
.yb{bottom:24.000000px;}
.y17{bottom:24.480000px;}
.y10{bottom:24.630000px;}
.y1c{bottom:25.440000px;}
.y1b{bottom:25.680000px;}
.y56{bottom:29.420000px;}
.y8{bottom:30.600000px;}
.y3f{bottom:32.760000px;}
.y65{bottom:37.200000px;}
.y51{bottom:37.460000px;}
.y13{bottom:42.480000px;}
.y3e{bottom:43.080000px;}
.y1a{bottom:45.000000px;}
.y55{bottom:47.420000px;}
.y2{bottom:51.840000px;}
.y3d{bottom:53.520000px;}
.y64{bottom:54.480000px;}
.y50{bottom:56.180000px;}
.y3c{bottom:63.840000px;}
.y54{bottom:65.660000px;}
.y36{bottom:68.520000px;}
.y63{bottom:72.510000px;}
.y3b{bottom:73.680000px;}
.y4f{bottom:74.420000px;}
.y58{bottom:80.400000px;}
.y3a{bottom:83.880000px;}
.y35{bottom:86.520000px;}
.y62{bottom:90.510000px;}
.y41{bottom:93.500000px;}
.y39{bottom:93.600000px;}
.y53{bottom:95.040000px;}
.y0{bottom:98.500000px;}
.y34{bottom:100.110000px;}
.y38{bottom:103.200000px;}
.y61{bottom:108.510000px;}
.y33{bottom:120.390000px;}
.y60{bottom:126.510000px;}
.y32{bottom:140.790000px;}
.y5f{bottom:144.510000px;}
.y31{bottom:161.070000px;}
.y5e{bottom:162.510000px;}
.y52{bottom:179.780000px;}
.y5d{bottom:180.510000px;}
.y30{bottom:181.470000px;}
.y5b{bottom:194.300000px;}
.y5c{bottom:198.750000px;}
.y2e{bottom:201.750000px;}
.y2d{bottom:222.150000px;}
.y2b{bottom:242.550000px;}
.y2a{bottom:262.850000px;}
.y29{bottom:283.250000px;}
.y28{bottom:303.530000px;}
.y27{bottom:323.930000px;}
.y26{bottom:344.330000px;}
.y25{bottom:364.610000px;}
.y23{bottom:385.010000px;}
.y21{bottom:405.290000px;}
.y4e{bottom:424.610000px;}
.y1f{bottom:425.690000px;}
.y1e{bottom:450.070000px;}
.y19{bottom:464.710000px;}
.y16{bottom:503.710000px;}
.y4d{bottom:518.110000px;}
.y15{bottom:522.190000px;}
.y5a{bottom:532.630000px;}
.y12{bottom:540.670000px;}
.y59{bottom:551.110000px;}
.y4c{bottom:576.550000px;}
.yf{bottom:577.150000px;}
.y4a{bottom:591.070000px;}
.ye{bottom:595.780000px;}
.y49{bottom:611.500000px;}
.yc{bottom:615.220000px;}
.y37{bottom:629.500000px;}
.y48{bottom:631.780000px;}
.ya{bottom:633.700000px;}
.y47{bottom:652.180000px;}
.y7{bottom:670.180000px;}
.y46{bottom:672.580000px;}
.y45{bottom:692.860000px;}
.y6{bottom:713.260000px;}
.y4{bottom:732.700000px;}
.y44{bottom:738.580000px;}
.y43{bottom:756.580000px;}
.y3{bottom:760.800000px;}
.y42{bottom:774.600000px;}
.y1{bottom:789.000000px;}
.h4{height:17.990000px;}
.hf{height:18.000000px;}
.h13{height:18.020000px;}
.h15{height:19.790000px;}
.h16{height:19.814000px;}
.h14{height:19.910000px;}
.h1a{height:19.935000px;}
.h18{height:27.370547px;}
.h5{height:27.637500px;}
.h1c{height:33.906797px;}
.h9{height:34.237500px;}
.h2{height:35.949375px;}
.h8{height:35.990000px;}
.hd{height:36.000000px;}
.he{height:36.300000px;}
.h10{height:36.480000px;}
.ha{height:36.615000px;}
.h12{height:37.440000px;}
.h1d{height:40.851562px;}
.hc{height:41.250000px;}
.h6{height:42.590000px;}
.h7{height:47.796328px;}
.hb{height:54.495000px;}
.h11{height:57.000000px;}
.h3{height:74.758359px;}
.h1e{height:78.264000px;}
.h1b{height:87.020000px;}
.h17{height:111.110000px;}
.h1f{height:211.340000px;}
.h19{height:639.500000px;}
.h1{height:643.500000px;}
.h0{height:841.920000px;}
.we{width:34.910000px;}
.w9{width:36.120000px;}
.w4{width:41.543000px;}
.wd{width:53.663000px;}
.w7{width:57.863000px;}
.w6{width:79.934000px;}
.w10{width:84.500000px;}
.w14{width:89.544000px;}
.w15{width:98.064000px;}
.w8{width:98.414000px;}
.wc{width:106.940000px;}
.w13{width:125.540000px;}
.w12{width:184.010000px;}
.wa{width:196.730000px;}
.w5{width:268.123000px;}
.w3{width:390.570000px;}
.wb{width:391.050000px;}
.w2{width:392.010000px;}
.wf{width:409.050000px;}
.w11{width:498.599000px;}
.w16{width:498.600000px;}
.w1{width:501.500000px;}
.w0{width:595.320000px;}
.x19{left:1.440000px;}
.x4{left:4.199000px;}
.x18{left:8.040000px;}
.x10{left:13.430000px;}
.xe{left:18.503000px;}
.x9{left:20.630000px;}
.x1d{left:24.720000px;}
.x20{left:28.224000px;}
.x1f{left:29.280000px;}
.x17{left:42.240000px;}
.x7{left:44.629000px;}
.x0{left:48.500000px;}
.x3{left:49.801000px;}
.x1{left:54.000000px;}
.x6{left:91.831000px;}
.xf{left:103.950000px;}
.xa{left:108.150000px;}
.x15{left:110.060000px;}
.x12{left:130.700000px;}
.x11{left:139.350000px;}
.x1b{left:184.720000px;}
.x5{left:195.289000px;}
.x13{left:204.760000px;}
.xb{left:207.050000px;}
.x1c{left:234.290000px;}
.xc{left:243.650000px;}
.x2{left:259.029000px;}
.x8{left:360.440000px;}
.x14{left:404.850000px;}
.xd{left:441.460000px;}
.x1e{left:450.340000px;}
.x16{left:459.340000px;}
.x1a{left:552.840000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-7.680000pt;}
.ls4{letter-spacing:-4.000000pt;}
.ls2{letter-spacing:-0.640000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls5{letter-spacing:13.760000pt;}
.ls1{letter-spacing:21.440000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-7.680000pt;}
._2{margin-left:-3.987840pt;}
._1{margin-left:-1.834240pt;}
._3{width:2.533120pt;}
._6{width:9.462187pt;}
._0{width:20.071040pt;}
._5{width:1104.609707pt;}
.fs2{font-size:42.880000pt;}
.fs4{font-size:53.120000pt;}
.fs0{font-size:56.320000pt;}
.fs5{font-size:64.000000pt;}
.fs3{font-size:74.880000pt;}
.fs1{font-size:117.120000pt;}
.yd{bottom:7.200000pt;}
.y5{bottom:8.000000pt;}
.y20{bottom:8.026667pt;}
.y18{bottom:8.640000pt;}
.y11{bottom:8.800000pt;}
.y2c{bottom:8.946667pt;}
.y24{bottom:8.960000pt;}
.y2f{bottom:9.106667pt;}
.y22{bottom:9.120000pt;}
.y4b{bottom:9.160000pt;}
.y1d{bottom:9.920000pt;}
.y9{bottom:13.600000pt;}
.y57{bottom:14.266667pt;}
.y40{bottom:29.920000pt;}
.y14{bottom:30.880000pt;}
.yb{bottom:32.000000pt;}
.y17{bottom:32.640000pt;}
.y10{bottom:32.840000pt;}
.y1c{bottom:33.920000pt;}
.y1b{bottom:34.240000pt;}
.y56{bottom:39.226667pt;}
.y8{bottom:40.800000pt;}
.y3f{bottom:43.680000pt;}
.y65{bottom:49.600000pt;}
.y51{bottom:49.946667pt;}
.y13{bottom:56.640000pt;}
.y3e{bottom:57.440000pt;}
.y1a{bottom:60.000000pt;}
.y55{bottom:63.226667pt;}
.y2{bottom:69.120000pt;}
.y3d{bottom:71.360000pt;}
.y64{bottom:72.640000pt;}
.y50{bottom:74.906667pt;}
.y3c{bottom:85.120000pt;}
.y54{bottom:87.546667pt;}
.y36{bottom:91.360000pt;}
.y63{bottom:96.680000pt;}
.y3b{bottom:98.240000pt;}
.y4f{bottom:99.226667pt;}
.y58{bottom:107.200000pt;}
.y3a{bottom:111.840000pt;}
.y35{bottom:115.360000pt;}
.y62{bottom:120.680000pt;}
.y41{bottom:124.666667pt;}
.y39{bottom:124.800000pt;}
.y53{bottom:126.720000pt;}
.y0{bottom:131.333333pt;}
.y34{bottom:133.480000pt;}
.y38{bottom:137.600000pt;}
.y61{bottom:144.680000pt;}
.y33{bottom:160.520000pt;}
.y60{bottom:168.680000pt;}
.y32{bottom:187.720000pt;}
.y5f{bottom:192.680000pt;}
.y31{bottom:214.760000pt;}
.y5e{bottom:216.680000pt;}
.y52{bottom:239.706667pt;}
.y5d{bottom:240.680000pt;}
.y30{bottom:241.960000pt;}
.y5b{bottom:259.066667pt;}
.y5c{bottom:265.000000pt;}
.y2e{bottom:269.000000pt;}
.y2d{bottom:296.200000pt;}
.y2b{bottom:323.400000pt;}
.y2a{bottom:350.466667pt;}
.y29{bottom:377.666667pt;}
.y28{bottom:404.706667pt;}
.y27{bottom:431.906667pt;}
.y26{bottom:459.106667pt;}
.y25{bottom:486.146667pt;}
.y23{bottom:513.346667pt;}
.y21{bottom:540.386667pt;}
.y4e{bottom:566.146667pt;}
.y1f{bottom:567.586667pt;}
.y1e{bottom:600.093333pt;}
.y19{bottom:619.613333pt;}
.y16{bottom:671.613333pt;}
.y4d{bottom:690.813333pt;}
.y15{bottom:696.253333pt;}
.y5a{bottom:710.173333pt;}
.y12{bottom:720.893333pt;}
.y59{bottom:734.813333pt;}
.y4c{bottom:768.733333pt;}
.yf{bottom:769.533333pt;}
.y4a{bottom:788.093333pt;}
.ye{bottom:794.373333pt;}
.y49{bottom:815.333333pt;}
.yc{bottom:820.293333pt;}
.y37{bottom:839.333333pt;}
.y48{bottom:842.373333pt;}
.ya{bottom:844.933333pt;}
.y47{bottom:869.573333pt;}
.y7{bottom:893.573333pt;}
.y46{bottom:896.773333pt;}
.y45{bottom:923.813333pt;}
.y6{bottom:951.013333pt;}
.y4{bottom:976.933333pt;}
.y44{bottom:984.773333pt;}
.y43{bottom:1008.773333pt;}
.y3{bottom:1014.400000pt;}
.y42{bottom:1032.800000pt;}
.y1{bottom:1052.000000pt;}
.h4{height:23.986667pt;}
.hf{height:24.000000pt;}
.h13{height:24.026667pt;}
.h15{height:26.386667pt;}
.h16{height:26.418667pt;}
.h14{height:26.546667pt;}
.h1a{height:26.580000pt;}
.h18{height:36.494062pt;}
.h5{height:36.850000pt;}
.h1c{height:45.209063pt;}
.h9{height:45.650000pt;}
.h2{height:47.932500pt;}
.h8{height:47.986667pt;}
.hd{height:48.000000pt;}
.he{height:48.400000pt;}
.h10{height:48.640000pt;}
.ha{height:48.820000pt;}
.h12{height:49.920000pt;}
.h1d{height:54.468750pt;}
.hc{height:55.000000pt;}
.h6{height:56.786667pt;}
.h7{height:63.728437pt;}
.hb{height:72.660000pt;}
.h11{height:76.000000pt;}
.h3{height:99.677812pt;}
.h1e{height:104.352000pt;}
.h1b{height:116.026667pt;}
.h17{height:148.146667pt;}
.h1f{height:281.786667pt;}
.h19{height:852.666667pt;}
.h1{height:858.000000pt;}
.h0{height:1122.560000pt;}
.we{width:46.546667pt;}
.w9{width:48.160000pt;}
.w4{width:55.390667pt;}
.wd{width:71.550667pt;}
.w7{width:77.150667pt;}
.w6{width:106.578667pt;}
.w10{width:112.666667pt;}
.w14{width:119.392000pt;}
.w15{width:130.752000pt;}
.w8{width:131.218667pt;}
.wc{width:142.586667pt;}
.w13{width:167.386667pt;}
.w12{width:245.346667pt;}
.wa{width:262.306667pt;}
.w5{width:357.497333pt;}
.w3{width:520.760000pt;}
.wb{width:521.400000pt;}
.w2{width:522.680000pt;}
.wf{width:545.400000pt;}
.w11{width:664.798667pt;}
.w16{width:664.800000pt;}
.w1{width:668.666667pt;}
.w0{width:793.760000pt;}
.x19{left:1.920000pt;}
.x4{left:5.598667pt;}
.x18{left:10.720000pt;}
.x10{left:17.906667pt;}
.xe{left:24.670667pt;}
.x9{left:27.506667pt;}
.x1d{left:32.960000pt;}
.x20{left:37.632000pt;}
.x1f{left:39.040000pt;}
.x17{left:56.320000pt;}
.x7{left:59.505333pt;}
.x0{left:64.666667pt;}
.x3{left:66.401333pt;}
.x1{left:72.000000pt;}
.x6{left:122.441333pt;}
.xf{left:138.600000pt;}
.xa{left:144.200000pt;}
.x15{left:146.746667pt;}
.x12{left:174.266667pt;}
.x11{left:185.800000pt;}
.x1b{left:246.293333pt;}
.x5{left:260.385333pt;}
.x13{left:273.013333pt;}
.xb{left:276.066667pt;}
.x1c{left:312.386667pt;}
.xc{left:324.866667pt;}
.x2{left:345.372000pt;}
.x8{left:480.586667pt;}
.x14{left:539.800000pt;}
.xd{left:588.613333pt;}
.x1e{left:600.453333pt;}
.x16{left:612.453333pt;}
.x1a{left:737.120000pt;}
}
